*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   max-width: 800px;
   margin: 20px auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.d-none{
    display: none;
}
#memory{
    padding: 30px 0px;
}
#numbers h1{
    text-align: center;
}
.number{
    font-size: 2rem;
}
#result h1{
    text-align: center;
    padding: 30px 0px;
}
.inputNumber input{
    width: 60px;
    height: 55px;
    text-align: center;
    font-size: 2rem;
}
button{
    margin: 30px 0px;
}
h4{
    font-size: 1.5rem;
}